// $navcolorpairs1: ('white', #333, #FFF, #CCC),
// ('silvery', #222, #EEE, #aaa),
// ('light', #444, #DDD, #999),
// ('lightgray', #111, #CCC, #aaa);
// $navcolorpairs2: ('gray', #FFF, #888, #666),
// ('darkgray', #EEE, #484848, rgb(0, 0, 0)),
// ('dark', #CCC, #282828, #000000),
// ('deep', #EEE, #181818, #333),
// ('black', #EEE, #000, rgb(53, 53, 53)),
// ('red', #FFF, #e6162d, #c7182d),
// ('yellow', #FFF, #ffc700, #cea617),
// ('green', #FFF, #0dad51, #0a8640),
// ('cyan', #FFF, #22c1cb, #12939c),
// ('blue', #DEF, #2e3f85, #1d2d6d),
// ('magenta', #FFF, #df226e, #be1d5d),
// ('darkred', #FFF, #a50000, #a50000),
// ('datered', #FFF, #b2212f, #681212),
// ('redorange', #FFF, #d64a24, #b83b19),
// ('orange', #FFF, #ff5c0e, #d34c0d),
// ('brown', #FFF, #fc9432, #db802b),
// ('darkgreen', #FFF, #306b39, #23552b),
// ('azure', #FFF, #27b6ea, #229cc9),
// ('purple', #FFF, #9a39b2, #69217a),
// ('darkpurple', #FFF, #6D196D, rgb(70, 14, 70)),
// ('pink', #FFF, #ff668c, #e2577a);
.navmenu,
.navmenu .submenu {
    >.menu-item {
        background-color: #888;
        border: solid 1px #888;
        color: #FFF;
    }
    >.menu-item.actived,
    >.menu-item:hover {
        background-color: #666;
    }
}

// @each $name,
// $color,
// $bgcolor,
// $hovercolor in $navcolorpairs1 {
//     .navmenu[data-color=#{$name}],
//     .navmenu .submenu[data-color=#{$name}] {
//         >.menu-item {
//             background-color: $bgcolor;
//             border: solid 1px #999;
//             color: $color;
//         }
//         >.menu-item.actived,
//         >.menu-item:hover {
//             background-color: $hovercolor;
//         }
//         // Vertical
//         >.submenu,
//         >.submenu.under,
//         >.submenu.under.al-left,
//         >.submenu.upon,
//         >.submenu.upon.al-left {
//             left: -1px;
//         }
//         >.submenu.al-right,
//         >.submenu.under.al-right,
//         >.submenu.upon.al-right {
//             right: -1px;
//         }
//         // Horizontal
//         >.submenu.rside,
//         >.submenu.rside.al-top,
//         >.submenu.lside,
//         >.submenu.lside.al-top {
//             top: -1px;
//         }
//         >.submenu.rside.al-bottom,
//         >.submenu.lside.al-bottom {
//             bottom: -1px;
//         }
//     }
// }
@each $name,
$index,
$alias,
$color,
$bgcolor,
$bgcolor_hover,
$bordercolor,
$shadowcolor in $commoncolors {
    .navmenu[data-color=#{$name}],
    .navmenu .submenu[data-color=#{$name}] {
        @if($color='#444') {
            >.menu-item {
                background-color: $bgcolor;
                border: solid 1px $bordercolor;
                color: $color;
            }
        }
        @else {
            >.menu-item {
                background-color: $bgcolor;
                border: solid 1px $bgcolor;
                color: $color;
            }
        }
        >.menu-item.actived,
        >.menu-item:hover {
            background-color: $bgcolor_hover;
        }
    }
}