.tangram-form {
    figure,
    .figure-items {
        display: block;
        width: 100%;
        margin: 7px 0;
        .image-uploader {
            box-sizing: content-box;
            display: inline-block;
            position: relative;
            padding: 19px;
            border: solid 1px #ddd;
            text-align: center;
            overflow: hidden;
            margin-right: 1%;
            img.image-displayer {
                display: block;
                position: relative;
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
            input[type=file] {
                display: none;
                position: absolute;
                width: 0;
                height: 0;
                top: 0;
                left: 0;
                opacity: 0;
            }
            .image-mask {
                z-index: 10;
            }
            .image-mask,
            .image-changer,
            input[type=file].image-changer {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            .image-changer,
            input[type=file].image-changer {
                z-index: 20;
                cursor: pointer;
            }
            .image-resetter {
                display: block;
                position: absolute;
                width: 100%;
                height: 24px;
                top: 160px;
                left: 0;
                background-color: #498bea;
                line-height: 24px;
                text-align: center;
                color: #fff;
                font-style: normal;
                font-size: 12px;
                opacity: 0;
                z-index: 100;
                cursor: pointer;
                transition: opacity ease-in-out .3s, top ease-in-out .3s;
            }
        }
        .image-uploader:hover {
            .image-mask {
                background-color: rgba(0, 0, 0, 0.3);
            }
            .image-resetter {
                opacity: 1;
                top: 136px;
            }
        }
        .image-uploader,
        .image-uploader.photo,
        .image-uploader.photo3x2 {
            width: 180px !important;
            height: 120px !important;
        }
        .image-uploader.photo2x3 {
            width: 80px !important;
            height: 120px !important;
        }
        .image-uploader.avatar,
        .image-uploader.avatar1x1 {
            width: 120px !important;
            height: 120px !important;
        }
        .image-uploader.figure,
        .image-uploader.figure4x3 {
            width: 160px !important;
            height: 120px !important;
        }
        .image-uploader.figure3x4 {
            width: 90px !important;
            height: 120px !important;
        }
        .image-uploader.banner {
            box-sizing: border-box;
            width: 49% !important;
            height: 160px !important;
        }
        .image-uploader.banner100 {
            display: block;
            width: 100% !important;
            height: 100px !important;
            margin-right: 0;
        }
    }
}