.tangram-form {
    display: block;
    width: auto;
    height: auto;
    line-height: 0;
    font-size: 0;
    color: #666;
    .inputs-section {
        min-width: 800px;
        margin: 10px 0;
        padding-bottom: 20px;
        border-top: solid 1px #e6e6e6;
    }
    .inputs-section,
    .inputs-section.on {
        display: block;
    }
    .inputs-section.off {
        display: none;
    }
    .inputs-section:first-child {
        border-top: none;
    }
    .tangram-inputs {
        display: block;
        position: relative;
        min-height: 40px; // margin-bottom: 10px;
        padding-left: 120px;
        overflow: hidden;
        >.input-label {
            display: block;
            position: absolute;
            width: 110px;
            top: 8px;
            left: 0;
            line-height: 24px;
            font-size: 14px;
            text-align: right;
        }
        >input,
        >select,
        >textarea,
        >.input-area {
            width: 100%;
            margin: 8px 0;
        }
        input,
        select,
        textarea {
            box-sizing: border-box;
            padding: 0 5px;
            border: solid 1px #ddd;
            border-radius: 3px;
            line-height: 24px;
            font-family: inherit;
            font-size: 12px;
            color: #666;
        }
        input,
        select {
            display: inline-block;
            height: 24px;
        }
        input.use-tp.datetime-item,
        input.use-tp.fulldate-item,
        input.use-tp.timeofday-item {
            cursor: pointer;
        }
        input[type=hidden],
        input[hidden] {
            display: none;
            width: 0;
            height: 0;
        }
        input.num-item,
        input[type=number] {
            width: 270px !important;
        }
        input[type=number] {
            padding-left: 10px;
        }
        input[type=radio],
        input[type=checkbox] {
            vertical-align: middle;
            margin-top: -2px !important;
        }
        textarea,
        textarea.text-area {
            height: 78px;
            resize: none;
        }
        textarea.long-item {
            height: 156px;
            resize: none;
        }
        textarea.high-item {
            height: 390px;
            resize: vertical;
        }
    }
    .tangram-inputs.inline-inputs {
        .inputs-line {
            display: block;
            width: 100%;
            border-bottom: solid 1px #eee;
        }
        .inline-label {
            line-height: 24px;
            font-size: 12px;
            color: #999;
            margin-right: 5px;
        }
        .radio-label,
        .checkbox-label {
            display: inline-block;
            margin: 8px 24px 0 0;
            line-height: 24px;
            font-size: 12px;
            color: #999;
            >input {
                width: 24px;
                margin: 0;
            }
        }
        .inputs-line+.inputs-line {
            .radio-label,
            .checkbox-label {
                margin: 0 24px 0 0;
            }
        }
        .inputs-line:last-child {
            border-bottom: none;
            .radio-label,
            .checkbox-label {
                margin-bottom: 8px;
            }
        }
        input,
        select {
            width: 20%;
            margin: 8px 24px 8px 0;
        }
    }
    .tangram-inputs[data-type=hidden] {
        display: none;
        width: 0;
        height: 0;
    }
}

@import 'tabs';
@import 'pages';
@import 'panels';
@import 'figures';
@import 'custom-items';