// $boxcolorpairs1: ('white', #333, #FFF, #CCC),
// ('silvery', #222, #EEE, #aaa),
// ('light', #444, #DDD, #999),
// ('lightgray', #111, #CCC, #aaa);
// $boxcolorpairs2: ('gray', #FFF, #888, #666),
// ('darkgray', #EEE, #484848, rgb(0, 0, 0)),
// ('dark', #CCC, #282828, #000000),
// ('deep', #EEE, #181818, #333),
// ('black', #EEE, #000, rgb(53, 53, 53)),
// ('red', #FFF, #e6162d, #c7182d),
// ('yellow', #FFF, #ffc700, #cea617),
// ('green', #FFF, #0dad51, #0a8640),
// ('cyan', #FFF, #22c1cb, #12939c),
// ('blue', #DEF, #2e3f85, #1d2d6d),
// ('magenta', #FFF, #df226e, #be1d5d),
// ('darkred', #FFF, #a50000, #a50000),
// ('datered', #FFF, #b2212f, #681212),
// ('redorange', #FFF, #d64a24, #b83b19),
// ('orange', #FFF, #ff5c0e, #d34c0d),
// ('brown', #FFF, #fc9432, #db802b),
// ('darkgreen', #FFF, #306b39, #23552b),
// ('azure', #FFF, #27b6ea, #229cc9),
// ('purple', #FFF, #9a39b2, #69217a),
// ('darkpurple', #FFF, #6D196D, rgb(70, 14, 70)),
// ('pink', #FFF, #ff668c, #e2577a);
@each $name,
$index,
$alias,
$color,
$bgcolor,

$bordercolor 
in $commoncolors {
    @if($color='#444') {
        .listview.boxes-list[data-item-color=#{$name}] .list-item,
        .listview.boxes-list.colors .list-item[data-color=#{$name}] {
            background: $bgcolor;
            // box-shadow: 0px 0px 2px $shadowcolor;
            color: $color;
            .titl {
                border-color: $color;
                // color: $color;
            }
            .name {
                // background-color: lighten($color, 90%);
                background-color: rgba(0, 0, 0, .1);
                // color: $color;
            }
            .mask {
                background: $color;
            }
        }
    }
    @else {
        .listview.boxes-list[data-item-color=#{$name}] .list-item,
        .listview.boxes-list.colors .list-item[data-color=#{$name}] {
            background: $bgcolor;
            // box-shadow: 0px 0px 2px $shadowcolor;
            color: $color;
            .titl {
                border-color: $color;
                // color: $color;
            }
            .name {
                // background-color: lighten($color, 90%);
                background-color: rgba(255, 255, 255, .1);
                // color: $color;
            }
            .mask {
                background: $color;
            }
        }
    }
}