.tangram.listview.media-list {
    .list-item.top-bottom {
        >img,
        >.list-figure,
        >.list-image {
            float: none;
            width: 98%;
            margin: 10px 1% 0;
        }
    }
    .list-item.top-bottom {
        >.list-body {
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .list-item.cover.top-bottom,
    .list-item.content.cover.top-bottom {
        >img,
        >.list-figure,
        >.list-image {
            width: 100%;
            margin: 0;
        }
    }
}

.tangram.listview.media-list[data-list-cols="1"] {
    .list-item.card.cover.top-bottom,
    .list-item.pane.cover.top-bottom {
        margin: 20px auto;
    }
}