.listview.media-list {
    .list-item.top-bottom {
        >img,
        >.list-figure,
        >.list-image {
            float: none;
            width: 98%;
            margin: 10px 1% 0;
        }
    }
    .list-item.top-bottom {
        >.list-body {
            width: 100%;
            margin-bottom: 5px;
        }
    }
    .list-item.cover.top-bottom,
    .list-item.content.cover.top-bottom {
        >img,
        >.list-figure,
        >.list-image {
            width: 100%;
            margin: 0;
        }
    }
}