.tangram.listview.media-list {
    .list-item.right-left {
        >img,
        >.list-figure,
        >.list-image {
            float: right;
            margin: 10px 1% 10px 0;
        }
    }
    .list-item.cover.right-left,
    .list-item.card.cover.right-left {
        >img,
        >.list-figure,
        >.list-image {
            margin: 0 0 0 1%;
        }
    }
    .list-item.pane.cover.right-left {
        >img,
        >.list-figure,
        >.list-image {
            margin: 10px 1% 10px 0;
        }
    }
    .list-item.cover.topline.right-left,
    .list-item.cover.underline.right-left {
        >img,
        >.list-figure,
        >.list-image {
            margin: 10px 0 10px 1%;
        }
    }
}