.listview.page-list {
    width: auto;
    margin: 10px auto;
    font-size: 0;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-size: 0.6rem;
    text-align: right;
    cursor: default;
    .list-item {
        display: inline-table;
        width: auto;
        min-width: 20px;
        height: 20px;
        margin: 4px;
        padding: 0;
        line-height: 20px;
        font-size: 13px;
        font-size: 0.65rem;
        text-align: center;
        cursor: pointer;
        .button-item {
            display: block;
            cursor: pointer;
        }
    }
    .list-item.actived {
        color: #0cf;
    }
}

.listview.page-list.al-left {
    text-align: left;
}

.listview.page-list.al-center {
    text-align: center;
}

.listview.page-list.al-right {
    text-align: right;
}

.listview.page-list.blocks,
.listview.page-list.pills,
.listview.page-list.spills {
    .list-item {
        min-width: 30px;
        height: 30px;
        border: 1px solid #888;
        padding: 4px 10px;
        text-align: center;
        color: #333;
    }
    .list-item.actived {
        background-color: #888;
        color: #fff;
    }
}

.listview.page-list.blocks.rounded {
    .list-item {
        border-radius: 3px;
    }
}

.listview.page-list.pills {
    .list-item {
        border-radius: 15px;
    }
}

.listview.page-list.spills {
    .list-item {
        min-width: 22px;
        height: 22px;
        margin: 4px 0;
        padding: 0;
        border-radius: 11px;
    }
    .list-item.long {
        padding: 0 6px;
    }
}

.listview.page-list.train {
    font-size: 0;
    .list-item {
        min-width: 30px;
        height: 30px;
        margin: 0;
        border-top: 1px solid #888;
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        padding: 4px 5px;
        text-align: center;
        color: #333;
    }
    .list-item:first-child {
        border-left: 1px solid #888;
        border-radius: 15px 0 0 15px;
        padding: 4px 10px;
    }
    .list-item:last-child {
        border-radius: 0 15px 15px 0;
        padding: 4px 10px;
    }
    .list-item.actived {
        background-color: #888;
        color: #fff;
    }
}

@each $name,
$index,
$alias,
$color,
$bgcolor,

$bordercolor 
in $commoncolors {
    @if($index>1) {
        .listview.page-list[data-item-color=#{$name}] .list-item,
        .listview.page-list .list-item[data-color=#{$name}] {
            color: $bgcolor;
        }
        .listview.page-list.blocks[data-item-color=#{$name}] .list-item,
        .listview.page-list.pills[data-item-color=#{$name}] .list-item,
        .listview.page-list.spills[data-item-color=#{$name}] .list-item,
        .listview.page-list.train[data-item-color=#{$name}] .list-item,
        .listview.page-list.blocks .list-item[data-color=#{$name}],
        .listview.page-list.pills .list-item[data-color=#{$name}],
        .listview.page-list.spills .list-item[data-color=#{$name}],
        .listview.page-list.train[data-item-color=#{$name}] .list-item {
            border: 1px solid $bgcolor;
        }
        .listview.page-list.train[data-item-color=#{$name}] .list-item,
        .listview.page-list.train .list-item[data-color=#{$name}] {
            border-left: none;
        }
        .listview.page-list.train[data-item-color=#{$name}] .list-item:first-child,
        .listview.page-list.train .list-item[data-color=#{$name}]:first-child {
            border-left: 1px solid $bgcolor;
        }
        .listview.page-list[data-item-color=#{$name}] .list-item.actived,
        .listview.page-list .list-item.actived[data-color=#{$name}] {
            background-color: $bgcolor;
            color: $color;
        }
    }
}