.listview.tags-list {
    margin: 10px auto;
    font-size: 0;
    text-align: left;
    .list-item {
        display: inline-table;
        width: auto;
        min-width: 20px;
        height: 20px;
        margin: 5px;
        padding: 0;
        line-height: 20px;
        font-size: 13px;
        font-size: 0.65rem;
        cursor: pointer;
        color: #333;
        >i,
        >i.list-tips {
            height: 16px;
            margin-left: 3px;
            padding: 0 6px;
            border-radius: 8px;
            background-color: #888;
            line-height: 16px;
            font-size: 12px;
            font-size: 0.6rem;
            color: #fff;
        }
    }
    .list-item.selected {
        color: #0cf;
        >i,
        >i.list-tips {
            background-color: #0cf;
        }
    }
}

.listview.tags-list.al-center {
    text-align: center;
}

.listview.tags-list.al-right {
    text-align: right;
}

.listview.tags-list.blocks,
.listview.tags-list.pills {
    .list-item {
        min-width: 30px;
        height: 30px;
        border: 1px solid #888;
        padding: 4px 10px;
        text-align: center;
        color: #333;
    }
    .list-item.selected {
        background-color: #888;
        color: #fff;
        >i,
        >i.list-tips {
            background-color: #fff;
            color: #888;
        }
    }
}

.listview.tags-list.blocks.rounded {
    .list-item {
        border-radius: 3px;
    }
}

.listview.tags-list.pills {
    .list-item {
        min-width: 26px;
        height: 26px;
        padding: 2px 10px;
        border-radius: 13px;
    }
}

@each $name,
$index,
$alias,
$color,
$bgcolor,
$bgcolor_hover,
$bordercolor,
$shadowcolor in $commoncolors {
    .listview.tags-list.blocks .list-item[data-color=#{$name}],
    .listview.tags-list.pills .list-item[data-color=#{$name}],
    .listview.tags-list.blocks[data-item-color=#{$name}] .list-item,
    .listview.tags-list.pills[data-item-color=#{$name}] .list-item {
        border: 1px solid $bgcolor;
        color: $bgcolor;
        >i,
        >i.list-tips {
            background-color: $bgcolor;
            color: $color;
        }
    }
    .listview.tags-list.blocks .list-item[data-color=#{$name}].selected,
    .listview.tags-list.pills .list-item[data-color=#{$name}].selected,
    .listview.tags-list.blocks[data-item-color=#{$name}] .list-item.selected,
    .listview.tags-list.pills[data-item-color=#{$name}] .list-item.selected {
        background-color: $bgcolor;
        color: $color;
        >i,
        >i.list-tips {
            background-color: #fff;
            color: #0cf;
        }
    }
}