.listview.text-list {
    .list-item {
        width: 100%;
        height: 40px;
        padding: 5px 1%;
        font-size: 14px;
        font-size: 0.7rem;
        line-height: 30px;
    }
    .list-item.topline,
    .list-item.underline {
        line-height: 29px;
    }
    .list-item.topline.underline,
    .list-item.pane {
        line-height: 28px;
    }
    .list-item.content {
        padding: 5px 0;
    }
    .list-item.cover {
        padding: 0;
        line-height: 40px;
    }
    .list-item.card.content,
    .list-item.pane.content {
        padding: 5px 1%;
    }
    .list-item.card.cover,
    .list-item.pane.cover {
        padding: 0 1%;
    }
    .list-item.content.cover {
        padding: 0;
    }
    .list-item.content.card.cover,
    .list-item.content.pane.cover {
        padding: 0 1%;
    }
    .list-item.cover.topline,
    .list-item.cover.underline {
        line-height: 39px;
    }
    .list-item.cover.topline.underline {
        line-height: 38px;
    }
    .list-item.trueround {
        border-radius: 20px;
    }
}