.tangram-form {
  display: block;
  width: auto;
  height: auto;
  line-height: 0;
  font-size: 0;
  color: #666; }
  .tangram-form .inputs-section {
    min-width: 800px;
    margin: 10px 0;
    padding-bottom: 20px;
    border-top: solid 1px #e6e6e6; }
  .tangram-form .inputs-section,
  .tangram-form .inputs-section.on {
    display: block; }
  .tangram-form .inputs-section.off {
    display: none; }
  .tangram-form .inputs-section:first-child {
    border-top: none; }
  .tangram-form .tangram-inputs {
    display: block;
    position: relative;
    min-height: 40px;
    padding-left: 120px;
    overflow: hidden; }
    .tangram-form .tangram-inputs > .input-label {
      display: block;
      position: absolute;
      width: 110px;
      top: 8px;
      left: 0;
      line-height: 24px;
      font-size: 14px;
      text-align: right; }
    .tangram-form .tangram-inputs > input,
    .tangram-form .tangram-inputs > select,
    .tangram-form .tangram-inputs > textarea,
    .tangram-form .tangram-inputs > .input-area {
      width: 100%;
      margin: 8px 0; }
    .tangram-form .tangram-inputs input,
    .tangram-form .tangram-inputs select,
    .tangram-form .tangram-inputs textarea {
      box-sizing: border-box;
      padding: 0 5px;
      border: solid 1px #ddd;
      border-radius: 3px;
      line-height: 24px;
      font-family: inherit;
      font-size: 12px;
      color: #666; }
    .tangram-form .tangram-inputs input,
    .tangram-form .tangram-inputs select {
      display: inline-block;
      height: 24px; }
    .tangram-form .tangram-inputs input.use-tp.datetime-item,
    .tangram-form .tangram-inputs input.use-tp.fulldate-item,
    .tangram-form .tangram-inputs input.use-tp.timeofday-item {
      cursor: pointer; }
    .tangram-form .tangram-inputs input[type=hidden],
    .tangram-form .tangram-inputs input[hidden] {
      display: none;
      width: 0;
      height: 0; }
    .tangram-form .tangram-inputs input.num-item,
    .tangram-form .tangram-inputs input[type=number] {
      width: 270px !important; }
    .tangram-form .tangram-inputs input[type=number] {
      padding-left: 10px; }
    .tangram-form .tangram-inputs input[type=radio],
    .tangram-form .tangram-inputs input[type=checkbox] {
      vertical-align: middle;
      margin-top: -2px !important; }
    .tangram-form .tangram-inputs textarea,
    .tangram-form .tangram-inputs textarea.text-area {
      height: 78px;
      resize: none; }
    .tangram-form .tangram-inputs textarea.long-item {
      height: 156px;
      resize: none; }
    .tangram-form .tangram-inputs textarea.high-item {
      height: 390px;
      resize: vertical; }
    .tangram-form .tangram-inputs .custom-item {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: auto;
      margin: 7px 0;
      line-height: 24px;
      font-family: inherit;
      font-size: 12px;
      color: #666; }
  .tangram-form .tangram-inputs.inline-inputs .inputs-line {
    display: block;
    width: 100%;
    border-bottom: solid 1px #eee; }
  .tangram-form .tangram-inputs.inline-inputs .inline-label {
    line-height: 24px;
    font-size: 12px;
    color: #999;
    margin-right: 5px; }
  .tangram-form .tangram-inputs.inline-inputs .radio-label,
  .tangram-form .tangram-inputs.inline-inputs .checkbox-label {
    display: inline-block;
    margin: 8px 24px 0 0;
    line-height: 24px;
    font-size: 12px;
    color: #999; }
    .tangram-form .tangram-inputs.inline-inputs .radio-label > input,
    .tangram-form .tangram-inputs.inline-inputs .checkbox-label > input {
      width: 24px;
      margin: 0; }
  .tangram-form .tangram-inputs.inline-inputs .inputs-line + .inputs-line .radio-label,
  .tangram-form .tangram-inputs.inline-inputs .inputs-line + .inputs-line .checkbox-label {
    margin: 0 24px 0 0; }
  .tangram-form .tangram-inputs.inline-inputs .inputs-line:last-child {
    border-bottom: none; }
    .tangram-form .tangram-inputs.inline-inputs .inputs-line:last-child .radio-label,
    .tangram-form .tangram-inputs.inline-inputs .inputs-line:last-child .checkbox-label {
      margin-bottom: 8px; }
  .tangram-form .tangram-inputs.inline-inputs input,
  .tangram-form .tangram-inputs.inline-inputs select {
    width: 20%;
    margin: 8px 24px 8px 0; }
  .tangram-form .tangram-inputs[data-type=hidden] {
    display: none;
    width: 0;
    height: 0; }

.tangram-form[data-type=tabs] .inputs-section.on {
  display: block; }

.tangram-form[data-type=tabs] .inputs-section,
.tangram-form[data-type=tabs] .inputs-section.off {
  display: none; }

.tangram-form[data-type=pages] .inputs-section {
  height: auto;
  margin: 10px auto;
  padding: 0 19px;
  border: #DDD 1px solid;
  background-color: #fff; }

.tangram-form[data-type=pages] .inputs-section:last-child {
  border-bottom: #DDD 1px solid; }

.tangram-form[data-type=pages] .tangram-inputs {
  height: auto;
  min-height: 30px;
  border-top: 1px #E6E6E6 solid; }
  .tangram-form[data-type=pages] .tangram-inputs > .input-label {
    height: 24px;
    top: 3px;
    background-color: #f9f9f9;
    line-height: 24px;
    color: #282828;
    font-size: 14px;
    margin-right: 10px;
    text-align: center; }
  .tangram-form[data-type=pages] .tangram-inputs input,
  .tangram-form[data-type=pages] .tangram-inputs select,
  .tangram-form[data-type=pages] .tangram-inputs textarea {
    margin: 0;
    border: none;
    background-color: transparent;
    line-height: 30px;
    color: #555;
    font-size: 12px;
    outline: none; }
  .tangram-form[data-type=pages] .tangram-inputs input,
  .tangram-form[data-type=pages] .tangram-inputs select {
    height: 30px;
    padding: 0; }
  .tangram-form[data-type=pages] .tangram-inputs select {
    appearance: none;
    -webkit-appearance: none; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line {
  height: 30px;
  border-bottom: solid 1px #e6e6e6; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inline-label {
  line-height: 30px; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .radio-label,
.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .checkbox-label {
  margin: 0 24px 0 0;
  line-height: 30px; }
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .radio-label > input,
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .checkbox-label > input {
    width: 24px;
    margin: 3px 0; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line:last-child {
  border-bottom: none; }
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line:last-child .radio-label,
  .tangram-form[data-type=pages] .tangram-inputs.inline-inputs .inputs-line:last-child .checkbox-label {
    margin: 0 24px 0 0; }

.tangram-form[data-type=pages] .tangram-inputs.inline-inputs input,
.tangram-form[data-type=pages] .tangram-inputs.inline-inputs select {
  margin: 0 24px 0 0; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=primer],
.tangram-form[data-type=pages] .tangram-inputs[data-type=title],
.tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] {
  margin-left: 0;
  border-top: none; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=primer] > .input-label,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=title] > .input-label,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] > .input-label {
    display: none; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=primer] input,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=title] input,
  .tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] input {
    width: 100%; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=primer] {
  padding: 5px 0px 4px;
  border-bottom: #EEE dashed 1px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=primer] input {
    width: 100%;
    text-align: left;
    font-size: 18px;
    line-height: 25px; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=title] {
  padding: 10px 0; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=title] input {
    text-align: center;
    font-size: 24px;
    line-height: 35px; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] {
  padding: 4px 0px 5px;
  border-top: #EEE dashed 1px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=subtitle] input {
    text-align: right;
    font-size: 18px;
    line-height: 25px; }

.tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] {
  min-height: 60px;
  padding-left: 0; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] > .input-label {
    position: relative;
    height: 27px;
    top: 0;
    margin-top: 3px;
    line-height: 27px; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] .inputs-line {
    border-top: solid 1px #eee;
    border-bottom: none; }
  .tangram-form[data-type=pages] .tangram-inputs[data-type=blocks] textarea {
    border: solid 1px #eee;
    margin-bottom: 8px; }

.tangram-form figure,
.tangram-form .figure-items {
  display: block;
  width: 100%;
  margin: 7px 0; }
  .tangram-form figure .image-uploader,
  .tangram-form .figure-items .image-uploader {
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    padding: 19px;
    border: solid 1px #ddd;
    text-align: center;
    overflow: hidden;
    margin-right: 1%; }
    .tangram-form figure .image-uploader img.image-displayer,
    .tangram-form .figure-items .image-uploader img.image-displayer {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto; }
    .tangram-form figure .image-uploader input[type=file],
    .tangram-form .figure-items .image-uploader input[type=file] {
      display: none;
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      opacity: 0; }
    .tangram-form figure .image-uploader .image-mask,
    .tangram-form .figure-items .image-uploader .image-mask {
      z-index: 10; }
    .tangram-form figure .image-uploader .image-mask,
    .tangram-form figure .image-uploader .image-changer,
    .tangram-form figure .image-uploader input[type=file].image-changer,
    .tangram-form .figure-items .image-uploader .image-mask,
    .tangram-form .figure-items .image-uploader .image-changer,
    .tangram-form .figure-items .image-uploader input[type=file].image-changer {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    .tangram-form figure .image-uploader .image-changer,
    .tangram-form figure .image-uploader input[type=file].image-changer,
    .tangram-form .figure-items .image-uploader .image-changer,
    .tangram-form .figure-items .image-uploader input[type=file].image-changer {
      z-index: 20;
      cursor: pointer; }
    .tangram-form figure .image-uploader .image-resetter,
    .tangram-form .figure-items .image-uploader .image-resetter {
      display: block;
      position: absolute;
      width: 100%;
      height: 24px;
      top: 160px;
      left: 0;
      background-color: #498bea;
      line-height: 24px;
      text-align: center;
      color: #fff;
      font-style: normal;
      font-size: 12px;
      opacity: 0;
      z-index: 100;
      cursor: pointer;
      transition: opacity ease-in-out .3s, top ease-in-out .3s; }
  .tangram-form figure .image-uploader:hover .image-mask,
  .tangram-form .figure-items .image-uploader:hover .image-mask {
    background-color: rgba(0, 0, 0, 0.3); }
  .tangram-form figure .image-uploader:hover .image-resetter,
  .tangram-form .figure-items .image-uploader:hover .image-resetter {
    opacity: 1;
    top: 136px; }
  .tangram-form figure .image-uploader,
  .tangram-form figure .image-uploader.photo,
  .tangram-form figure .image-uploader.photo3x2,
  .tangram-form .figure-items .image-uploader,
  .tangram-form .figure-items .image-uploader.photo,
  .tangram-form .figure-items .image-uploader.photo3x2 {
    width: 180px !important;
    height: 120px !important; }
  .tangram-form figure .image-uploader.photo2x3,
  .tangram-form .figure-items .image-uploader.photo2x3 {
    width: 80px !important;
    height: 120px !important; }
  .tangram-form figure .image-uploader.avatar,
  .tangram-form figure .image-uploader.avatar1x1,
  .tangram-form .figure-items .image-uploader.avatar,
  .tangram-form .figure-items .image-uploader.avatar1x1 {
    width: 120px !important;
    height: 120px !important; }
  .tangram-form figure .image-uploader.figure,
  .tangram-form figure .image-uploader.figure4x3,
  .tangram-form .figure-items .image-uploader.figure,
  .tangram-form .figure-items .image-uploader.figure4x3 {
    width: 160px !important;
    height: 120px !important; }
  .tangram-form figure .image-uploader.figure3x4,
  .tangram-form .figure-items .image-uploader.figure3x4 {
    width: 90px !important;
    height: 120px !important; }
  .tangram-form figure .image-uploader.banner,
  .tangram-form .figure-items .image-uploader.banner {
    box-sizing: border-box;
    width: 49% !important;
    height: 160px !important; }
  .tangram-form figure .image-uploader.banner100,
  .tangram-form .figure-items .image-uploader.banner100 {
    display: block;
    width: 100% !important;
    height: 100px !important;
    margin-right: 0; }
