// Normal Screen 
.v-top {
    >li,
    >.list-item {
        display: block;
    }
}

.h-left {
    >li,
    >.list-item {
        float: left;
    }
}

.h-right {
    >li,
    >.list-item {
        float: right;
    }
}

.al-left,
.al-right,
.al-center,
.al-just {
    >li,
    >.list-item {
        display: inline;
    }
}

.al-left.blocks,
.al-right.blocks,
.al-center.blocks,
.al-just.blocks {
    >li,
    >.list-item {
        display: inline-block;
    }
}